In [51]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
df = pd.read_csv('../data/raw/telco.csv')

In [53]:
df.sample(10)

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV,Churn Category,Churn Reason
4569,6429-SHBCB,Male,54,No,No,No,No,0,United States,California,...,0,261.44,1655.99,4,Stayed,No,77,3349,NaN,NaN
3867,6661-EIPZC,Female,38,No,No,Yes,Yes,1,United States,California,...,0,0.00,1423.05,4,Stayed,No,36,3194,NaN,NaN
5802,5707-ZMDJP,Male,61,No,No,Yes,Yes,2,United States,California,...,0,1679.57,5409.17,4,Stayed,No,27,4590,NaN,NaN
3032,3137-NYQQI,Male,32,No,No,Yes,No,0,United States,California,...,0,770.95,1946.55,4,Stayed,No,70,3546,NaN,NaN
3115,1051-GEJLJ,Female,19,Yes,No,No,No,0,United States,California,...,0,54.34,81.89,5,Joined,No,74,4836,NaN,NaN
3587,9469-WEJBT,Male,56,No,No,Yes,No,0,United States,California,...,150,258.63,3827.93,3,Stayed,No,76,3347,NaN,NaN
3910,2023-VQFDL,Male,42,No,No,No,No,0,United States,California,...,0,596.88,945.68,5,Stayed,No,39,5379,NaN,NaN
2220,5536-SLHPM,Female,38,No,No,Yes,No,0,United States,California,...,0,1067.55,5525.70,2,Churned,Yes,79,4398,Competitor,Competitor made better offer
239,4433-JCGCG,Male,80,No,Yes,Yes,No,0,United States,California,...,0,246.56,4926.61,1,Churned,Yes,88,2436,Competitor,Competitor made better offer
1829,7730-IUTDZ,Male,63,No,No,No,No,0,United States,California,...,0,1462.00,4660.60,1,Churned,Yes,68,4673,Dissatisfaction,Network reliability

In [54]:
df.shape

(7043, 50)

In [55]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married',
       'Dependents', 'Number of Dependents', 'Country', 'State', 'City',
       'Zip Code', 'Latitude', 'Longitude', 'Population', 'Quarter',
       'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer',
       'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Satisfaction Score', 'Customer Status', 'Churn Label',
       'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [56]:
df.drop(columns=["Customer ID", "Latitude", "Longitude","Zip Code","Churn Reason","Churn Category","CLTV","Churn Score","Customer Status"], inplace=True)

In [57]:
df.isnull().sum() * 100 / df.shape[0]

Gender                                0.000000
Age                                   0.000000
Under 30                              0.000000
Senior Citizen                        0.000000
Married                               0.000000
Dependents                            0.000000
Number of Dependents                  0.000000
Country                               0.000000
State                                 0.000000
City                                  0.000000
Population                            0.000000
Quarter                               0.000000
Referred a Friend                     0.000000
Number of Referrals                   0.000000
Tenure in Months                      0.000000
Offer                                55.047565
Phone Service                         0.000000
Avg Monthly Long Distance Charges     0.000000
Multiple Lines                        0.000000
Internet Service                      0.000000
Internet Type                        21.666903
Avg Monthly GB Download               0.000000
Online Security                       0.000000
Online Backup                         0.000000
Device Protection Plan                0.000000
Premium Tech Support                  0.000000
Streaming TV                          0.000000
Streaming Movies                      0.000000
Streaming Music                       0.000000
Unlimited Data                        0.000000
Contract                              0.000000
Paperless Billing                     0.000000
Payment Method                        0.000000
Monthly Charge                        0.000000
Total Charges                         0.000000
Total Refunds                         0.000000
Total Extra Data Charges              0.000000
Total Long Distance Charges           0.000000
Total Revenue                         0.000000
Satisfaction Score                    0.000000
Churn Label                           0.000000
dtype: float64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 41 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   object
 1   Age                                7043 non-null   int64
 2   Under 30                           7043 non-null   object
 3   Senior Citizen                     7043 non-null   object
 4   Married                            7043 non-null   object
 5   Dependents                         7043 non-null   object
 6   Number of Dependents               7043 non-null   int64
 7   Country                            7043 non-null   object
 8   State                              7043 non-null   object
 9   City                               7043 non-null   object
 10  Population                         7043 non-null   int64
 11  Quarter                            7043 non-null   object
 12  Referred a Friend                  7043 non-null   object
 13  Number of Referrals                7043 non-null   int64
 14  Tenure in Months                   7043 non-null   int64
 15  Offer                              3166 non-null   object
 16  Phone Service                      7043 non-null   object
 17  Avg Monthly Long Distance Charges  7043 non-null   float64
 18  Multiple Lines                     7043 non-null   object
 19  Internet Service                   7043 non-null   object
 20  Internet Type                      5517 non-null   object
 21  Avg Monthly GB Download            7043 non-null   int64
 22  Online Security                    7043 non-null   object
 23  Online Backup                      7043 non-null   object
 24  Device Protection Plan             7043 non-null   object
 25  Premium Tech Support               7043 non-null   object
 26  Streaming TV                       7043 non-null   object
 27  Streaming Movies                   7043 non-null   object
 28  Streaming Music                    7043 non-null   object
 29  Unlimited Data                     7043 non-null   object
 30  Contract                           7043 non-null   object
 31  Paperless Billing                  7043 non-null   object
 32  Payment Method                     7043 non-null   object
 33  Monthly Charge                     7043 non-null   float64
 34  Total Charges                      7043 non-null   float64
 35  Total Refunds                      7043 non-null   float64
 36  Total Extra Data Charges           7043 non-null   int64
 37  Total Long Distance Charges        7043 non-null   float64
 38  Total Revenue                      7043 non-null   float64
 39  Satisfaction Score                 7043 non-null   int64
 40  Churn Label                        7043 non-null   object
dtypes: float64(6), int64(8), object(27)
memory usage: 2.2+ MB

In [59]:
df['Internet Type'] = df['Internet Type'].fillna("No Internet Service")

In [60]:
df['Offer'] = df['Offer'].fillna("No Offer")

Dropping under 30 and Senior Citizen because we can directly indetify with age column

In [61]:
df.drop(columns=["Senior Citizen", "Under 30"], inplace=True)

Feature Reduction: Add-On Services

Original 8 columns: Online Security, Online Backup, Device Protection Plan, Premium Tech Support, Streaming TV, Streaming Movies, Streaming Music, Unlimited Data.

Reduced to 3 columns:

Security_Backup_Protection → counts security/backup/protection add-ons.

Streaming_Services → counts streaming services.

Unlimited_Data → binary (Yes → 1, No → 0).

In [62]:
df['Security_Backup_Protection'] = df[['Online Security', 'Online Backup', 
                                       'Device Protection Plan', 'Premium Tech Support']].apply(lambda x: x.eq('Yes').sum(), axis=1)

df['Streaming_Services'] = df[['Streaming TV', 'Streaming Movies', 'Streaming Music']].apply(lambda x: x.eq('Yes').sum(), axis=1)


df['Unlimited_Data'] = df['Unlimited Data'].replace({'Yes':1, 'No':0})

# Drop the original 8 columns
df.drop(columns=['Online Security', 'Online Backup', 'Device Protection Plan', 
                 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 
                 'Streaming Music', 'Unlimited Data'], inplace=True)


df.head()

C:\Users\Akbarhusain\AppData\Local\Temp\ipykernel_15436\137055147.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Unlimited_Data'] = df['Unlimited Data'].replace({'Yes':1, 'No':0})

,Gender,Age,Married,Dependents,Number of Dependents,Country,State,City,Population,Quarter,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Label,Security_Backup_Protection,Streaming_Services,Unlimited_Data
0,Male,78,No,No,0,United States,California,Los Angeles,68701,Q3,...,39.65,0.00,20,0.00,59.65,3,Yes,1,1,0
1,Female,74,Yes,Yes,1,United States,California,Los Angeles,55668,Q3,...,633.30,0.00,0,390.80,1024.10,3,Yes,1,0,1
2,Male,71,No,Yes,3,United States,California,Los Angeles,47534,Q3,...,1752.55,45.61,0,203.94,1910.88,2,Yes,0,3,1
3,Female,78,Yes,Yes,1,United States,California,Inglewood,27778,Q3,...,2514.50,13.43,0,494.00,2995.07,2,Yes,2,2,1
4,Female,80,Yes,Yes,1,United States,California,Whittier,26265,Q3,...,2868.15,0.00,0,234.21,3102.36,2,Yes,0,0,1

In [63]:
df.drop(columns=["Country", "State", "Population","Dependents","Total Long Distance Charges"], inplace=True)

In [64]:
df.shape

(7043, 29)

In [65]:
df.columns

Index(['Gender', 'Age', 'Married', 'Number of Dependents', 'City', 'Quarter',
       'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer',
       'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Refunds', 'Total Extra Data Charges',
       'Total Revenue', 'Satisfaction Score', 'Churn Label',
       'Security_Backup_Protection', 'Streaming_Services', 'Unlimited_Data'],
      dtype='object')

In [66]:
for c in df.columns:
    print(c)
    print(df[c].unique())
    print("-" * 20)

Gender
['Male' 'Female']
--------------------
Age
[78 74 71 80 72 76 66 70 77 65 67 68 69 79 75 73 37 19 31 23 38 21 29 61
 27 20 56 51 48 32 34 41 30 26 62 64 45 53 63 42 24 54 39 43 50 22 40 47
 60 52 55 59 49 58 25 28 33 44 57 46 36 35]
--------------------
Married
['No' 'Yes']
--------------------
Number of Dependents
[0 1 3 2 5 4 6 7 8 9]
--------------------
City
['Los Angeles' 'Inglewood' 'Whittier' ... 'Topaz' 'Jacumba' 'Holtville']
--------------------
Quarter
['Q3']
--------------------
Referred a Friend
['No' 'Yes']
--------------------
Number of Referrals
[ 0  1  6  2  4  3  7  5  8  9 10 11]
--------------------
Tenure in Months
[ 1  8 18 25 37 27 58 15  7 11  3 13 16 24  4 32 54  2 21 55  5 20 65 49
 43 56 52 33 30 46  9 10 35 44 62 14 12 17 39 68 34 22 19 23 42 41 57 38
 29 66 69 40 31 59 36 45 53 70 47 50 51 72 26  6 28 48 61 71 60 64 67 63]
--------------------
Offer
['No Offer' 'Offer E' 'Offer D' 'Offer C' 'Offer B' 'Offer A']
--------------------
Phone Service
['No' 'Yes']
--------------------
Avg Monthly Long Distance Charges
[ 0.   48.85 11.33 ... 44.99 44.98  8.62]
--------------------
Multiple Lines
['No' 'Yes']
--------------------
Internet Service
['Yes' 'No']
--------------------
Internet Type
['DSL' 'Fiber Optic' 'Cable' 'No Internet Service']
--------------------
Avg Monthly GB Download
[ 8 17 52 12 14 18 30 24 19 29 28 11  9  7 15  2 10  5 13  0 27 26 22 25
 21 20  6 16 23  4  3 58 53 75 51 47 69 41 57 56 71 48 73 76 59 82 42 39
 85 46]
--------------------
Contract
['Month-to-Month' 'One Year' 'Two Year']
--------------------
Paperless Billing
['Yes' 'No']
--------------------
Payment Method
['Bank Withdrawal' 'Credit Card' 'Mailed Check']
--------------------
Monthly Charge
[39.65 80.65 95.45 ... 43.05 72.   78.7 ]
--------------------
Total Charges
[  39.65  633.3  1752.55 ... 7362.9   346.45 6844.5 ]
--------------------
Total Refunds
[ 0.   45.61 13.43 40.95 11.05 29.84 49.57 12.07 40.64 10.2  17.88 37.55
 48.09 32.46 20.23 12.59 43.31  8.13 46.64 23.33 47.2  33.25 33.73 49.06
 25.79 15.24 26.99 44.58 20.16  8.88 12.48  6.79 39.29 44.31  5.49 25.67
  9.49 29.17 19.25 45.69 29.88 39.93 26.98 11.83 16.58 17.16 18.85 37.64
 41.2  12.19 45.81 49.53 21.52 29.   29.99 21.08 36.4  21.17  6.26 17.91
 34.67 28.93 41.23 47.73 40.46 15.41 38.98 16.73 27.15 45.82 39.18 31.05
 20.45  6.65 47.04 15.2   1.69 43.66 24.36 27.89  6.11  7.43 25.07 48.66
 36.52 38.09 24.98 21.71 36.78 30.75 25.55 17.19 33.1  32.71  4.76 44.81
  3.33 19.16 31.58  1.09 18.64 44.17 17.76 33.07  8.74  4.48 36.6  33.43
 45.44 18.55 33.21 48.25 21.72 21.69 14.22 45.37 27.6  10.17 36.44 13.03
 23.89 11.   34.29 48.26 35.82 15.73  9.36 19.67 39.27 41.85 40.   12.81
  4.73 27.38 14.24 13.01 11.45 28.35  7.39 35.05 41.18 30.46 48.61 26.02
 38.48 14.23 40.15 48.95 24.44  9.68 23.72 20.29 48.54  4.96 18.21  1.27
 22.96 28.49 19.5   8.35 35.7  17.01 34.69  4.93 35.34 18.39 27.3  44.16
 34.09 36.61 18.72 44.63 23.97 38.42  1.48  2.93 10.76 20.28 42.18 40.79
 41.21  2.29 24.08 36.29 30.26  4.6  41.67 15.62 46.78 14.49 25.84 16.97
 23.67 46.56 27.09 10.23 15.57 26.55  3.2  21.6  17.14  5.73 32.09  1.83
 47.19 14.21 38.15  8.3  31.39 12.55 11.48 43.38 49.37  9.34 38.61 37.06
 43.25 23.28 45.07 44.9  23.61 19.89 38.84  1.01 14.67 37.37 21.32 36.04
 49.51 47.91 11.72 29.76  1.99 40.62 18.84  9.22 33.8   9.73 46.07 47.87
 39.99 14.76  2.24 42.89 16.12 38.37 47.36 33.76 12.8  23.01 12.16 45.75
 28.42 37.03 38.46 46.66 35.61 18.89  1.66 17.6  21.35 29.32 23.92 29.5
 16.86 42.64  1.31 10.57 34.44 13.07 22.34 43.95 37.44 25.57 14.93 46.75
 28.7   2.28 47.02 16.85 29.11 32.55  5.44 27.79 43.68 41.74  2.18  3.26
 26.87 10.47 37.45 34.16 17.5  11.37 46.81 15.02 19.63 45.47 39.92 22.55
  3.34 17.05 38.33 47.79 24.92 40.54  5.55 30.22  5.47 44.   28.98 49.38
 37.68 18.17 36.38 26.83 29.21 18.88 33.67 17.3  17.03  3.55 25.62 18.62
  9.39  5.9   5.01 42.57 42.43  4.7  21.53 21.58 35.28 28.83 38.57 29.41
 10.65 42.29 16.38 36.66 39.45 29.64 26.32 11.85 16.26 20.17 32.59 16.36
 22.53  6.72 36.22 38.34 28.08 17.96 33.29 24.9  15.38  5.15  6.41 41.66
 46.06 33.13 12.66 48.79  3.59 44.86 34.83 49.79 44.53 47.45 13.37  2.81
 44.13 23.13  2.76 46.99 23.16 44.42 48.59 11.8  17.17 15.76  2.97 15.31
 45.54 14.15 32.53 22.97 21.25 36.02 39.68 23.39 20.87 26.7   3.85  3.51
 35.23  9.48 36.13 44.51  4.08 34.45 16.96 16.91 43.12 49.76 23.5  29.95
  9.99 33.24 28.63 10.7  36.92 27.01 42.34 34.47  9.79 26.37  8.96 21.9
  4.25 16.56 10.28 46.67 14.78 49.23 35.01  9.35 37.04 49.24 32.65 39.15
 18.78 14.57 49.22 16.27  5.83 35.44 29.29 47.59 46.39 24.07  8.5  23.47
 29.59 28.09  6.49 34.59 47.55 37.01 43.76 25.98 12.26 37.49 19.13  1.65
 31.9  21.81 15.17 14.3  22.72  8.53 46.26 15.43 25.49 17.33 45.6  25.24
  2.62 36.07 29.93 23.79 22.4  16.89  7.3  16.99 41.33 30.45 30.14 24.99
 30.53 32.24  4.68  4.18  2.21 19.32 25.92 45.46 25.42 43.96 38.65 49.02
 19.12 20.19 26.84 40.41 19.31 48.23 45.38 27.24]
--------------------
Total Extra Data Charges
[ 20   0  10 120 140  90  80  30 100  40 110 150  70  50 130  60]
--------------------
Total Revenue
[  59.65 1024.1  1910.88 ... 9453.04  319.21 8887.86]
--------------------
Satisfaction Score
[3 2 1 4 5]
--------------------
Churn Label
['Yes' 'No']
--------------------
Security_Backup_Protection
[1 0 2 3 4]
--------------------
Streaming_Services
[1 0 3 2]
--------------------
Unlimited_Data
[0 1]
--------------------